body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f5f5;
}

.swiper {
  width: 60%;
  height: 800px;
  margin: auto;
}

.swiper-slide {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.swiper-slide img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}
